// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #041930,
  secondary:  #3c536f,
  danger:     #f53d3d,
  light:      #b0b5bc,
  dark:       #222,
  green:      #19814a,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$font-size-base: 20px;
$font-family-md-base: 'PT Sans', sans-serif;
$item-md-font-size: 20px;
$item-md-padding-bottom: 5px;
$item-md-padding-top: 5px;
$text-color: map-get($colors, primary);
$list-md-border-color: map-get($colors, primary);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
$header-size: 28px;
@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
